body {
  background-color: var(--french-gray);
  color: var(--feldgrau);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;            
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--feldgrau);
  padding: 0.4rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: var(--robin-egg-blue);
  z-index: 10;
  box-sizing: border-box;
}

/* Container */
.app-container {
  padding: 2rem 1rem;        /* padding vertical et horizontal */
  max-width: 2000px;         /* largeur max */
  margin: 0 auto;     
  background-image: url('./assets/fond-de-lumieres-degradees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;       /* centré horizontalement */
}

/* Erreur */
.error-message {
  color: red;
  font-weight: bold;
}

/* Grid */
.newsletter-grid {
  width: 100%;               /* prend toute la largeur du container */
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 1.5rem;
}

/* Card */
.newsletter-card {
  background: rgba(168, 168, 168, 0.15); /* Plus translucide */
  border-left: 5px solid var(--robin-egg-blue);
  color: var(--feldgrau);
  padding: 1rem 1.5rem;
  border-radius: 60px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* plus lumineux et bleuté */
  backdrop-filter: blur(15px); /* flou augmenté */
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2); /* bord plus clair et translucide */
  transition: transform 0.2s ease-in-out;
}

.newsletter-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.2rem;
  color: var(--feldgrau);
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-from,
.card-date {
  font-size: 0.9rem;
  color: var(--cadet-gray);
  margin-bottom: 0.3rem;
}

.card-summary,
.card-content {
  font-size: 1rem;
  color: var(--french-gray);
  margin-top: 1rem;
}
